@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;600&display=swap');

body {
    font-family: 'Sono', 'Arial', monospace;
    padding: 0 30px;
    background-color: "#FAFAFA";
    color: "#1A1A1A";
}